/* first page  */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* commony/all style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(252, 252, 252);
}


/* -------------------------------------------manin-banner-header
----------------------------------------------------------------- */

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.manin-banner-header {
    display: flex;
    flex-direction: row;
    flex-row-gap: 244px;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 0;
    background-color: #161616;
    border-radius: 30px;
}

.header-info {
    color: white;
    margin: 51px 24px 51px 106px;
}

.header-info-h {
    font-weight: 700;
    font-size: 40px;
}

.header-info-p {
    margin-bottom: 20px;
}

.live {
    display: inline-block;
    background-color: red;
    padding: 15px 50px;
    border-radius: 20px;
}

.live a {
    text-decoration: none;
    color: white;
}

.header-pic img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}

/* ------------------------------------------------this is the second-middle body
-------------------------------------------------------------------------------- */
.up-group-blog {
    display: flex;
    flex-direction: column;
}

.up-group-blog a {
    text-decoration: none;
}