/* second page */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


/* commony/all style */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background-color: rgb(252, 252, 252);
}


/* -------------------------------------------manin-banner-header
----------------------------------------------------------------- */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.manin-banner-header {
    display: flex;
    flex-direction: row;
    flex-row-gap: 244px;
    width: 1321px;
    height: 646px;
    margin: 50px 140px 50px;
    background-color: #161616;
    border-radius: 20px;
}

.header-info {
    color: white;
    margin: 51px 24px 51px 106px;
}

.header-info-h {
    font-weight: 700;
    font-size: 40px;
}

.header-info-p {
    margin-bottom: 20px;
}

.live {
    display: inline-block;
    background-color: red;
    padding: 15px 50px;
    border-radius: 20px;
}

.live a {
    text-decoration: none;
    color: white;
}

.header-pic img {
    width: 581px;
    height: 613px;
    margin-top: 33px;
    margin-right: 79px;
}

/* ------------------------------------------------this is the second-middle body
-------------------------------------------------------------------------------- */

.middle-shediul-match {
    width: 1321px;
    border-radius: 20px;
    margin: 50px 140px 50px;
    display: inline-block;
}




.blogss {
    display: inline-block;
    padding: 24px 24px;
    background: #161616;
    border-radius: 10px;
}

.up-group-blog {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 20px;
    border-radius: 10px;
}

.up-group-blog a {
    text-decoration: none;
    padding: 25px 50px;
    text-align: center;
    border-radius: 10px;
    color: black;
}

.up-group-blog .shidul-show {
    margin: 0 5px;
    background-color: white;
}

.up-group-blog .shidul-nonshow {
    background-color: red;
    color: white;
}


/* ---------------------------------------9ta maches eksathe
---------------------------------------------------------- */
.all-of-the-maches {
    display: inline-block;
    margin-left: 24px;
    margin-bottom: 100px;
}

.all-six-class {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.maches-1 {
    width: 312px;
    height: 242px;
    border: 1px solid rgb(187, 184, 184);
    border-radius: 10px;
}

.nine-img {
    padding: 40px;

}

.vs-image {
    display: flex;
    justify-content: space-around
}

.nine-without-image {
    padding: 10px 20px;
    text-align: center;
}




/* -----------------------------------------------footer
--------------------------------------------------- */
footer {
    padding: 100px 100px;
    background-color: black;
    text-align: center;
    color: white;
}

hr {
    margin: 50px 5px;
    height: 1px;
    background-color: rgb(53, 52, 52);
    border: none;
}


.contact-us {
    display: flex;
    justify-content: space-between
}






/* --------------------------------------------------------------media query
-------------------------------------------------------------- */

/* -------------------------------------------------------------tablet device
------------------------------------------------------------- */
@media only screen and (max-width: 689px) and (max-width: 992px) {}

/* -------------------------------------------------------------mobile device
------------------------------------------------------------- */
@media only screen and (max-width: 688px) {}